<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :test_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :level %>
    <%= form.number_field :level, id: :test_level, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :timer %>
    <%= form.number_field :timer, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id,
                               Category.all,
                               :id,
                               :title,
                               { prompt: t('.selector') },
                               { class: 'form-control' } %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>

<%= link_to t('back'), admin_tests_path %>
