<h2><%= @test.title %> test has <%= pluralize(@test.questions.count, 'question') %> </h2>
<br>
<table>
  <tr>
    <th>Question</th>
    <th colspan="3">Action</th>
  </tr>
  <%= render @test.questions %>
</table><br>
<%= link_to 'Create new question', new_test_question_path(@test) %>
<br>
<%= link_to 'Back', tests_path %>
